/*Suzette - styling for background color*/
.useful {
  background-color: rgba(8,80,248,255);
}

/* Styling for input -JD */
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

input {
  margin-bottom: 50px;
}

.signup-button {
  border-radius: 25px;
  width: 50%;
  padding: 10px;
  text-align: center;

}

#nav-buttons {
    margin-left: 200px;
}

.nav-link {
    margin-left: 50px;
    margin-right: 10px;
}
#nav-1 {
    margin-left: 100px;
}
.head-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "text .";
    height: 500px;
  }
  
  .text {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    grid-template-rows: 0.5fr 0.2fr 0.3fr 0.2fr 0fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". focus focus"
      ". subtitle subtitle"
      ". billing ."
      ". buttons ."
      ". singin ."
      ". trial .";
    grid-area: text;
  }
  
  .focus { 
    grid-area: focus; 
    font-size: 45pt;
    font-weight: bolder;
  }
  
  .subtitle { 
    grid-area: subtitle;
    font-size: 25pt;
    font-weight: 500; 
  }
  
  .billing { 
    grid-area: billing;
    font-size: 14pt; 
    font-weight: bold;
    color: rgb(173, 173, 173);
  }
  
  .buttons { grid-area: buttons; }
  
  .singin { grid-area: singin; }
  
  .trial { 
    grid-area: trial;
    margin-left: -32px; 
    margin-top: 20px;
    font-size: 10pt;
  }

  .side-header {
      height: 600px;
      
  }

  .divider {
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
  }

  .grid-container-needs{
    margin:auto;
    margin-left:auto;
    margin-right:auto;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    grid-template-areas: 
      "items1 items2"
      "items3 items4";
    justify-content: center;
    row-gap: 75px;
}

.items1 {
  margin-left:auto;
  margin-right:auto;
}

.items2{
  margin-left:auto;
  margin-right:auto;
}

.items3{
  margin-left:auto;
  margin-right:auto;
}

.items4 {
  margin-left:auto;
  margin-right:auto;
}

.grid-container-needs > div {
  background-color: #FFFFFF;
  /* font-color: black;   */
  text-align: center;
}


.icons {
    display: flex;
    justify-content: center;
    text-align: center;
    width:300px;
}

.button-learn {
    text-align:center;
    border-radius: 2px;
    border: 1px gray;
}

.icon-needs {    
    display: flex;
    justify-content: center;
    background-color: rgb(227, 239, 255);
    border: 2px solid #BEBEBE;
    border-radius: 50%;
    text-align:center;
    width: 125px;
    height: 125px;
    align-items: center;
    margin-left:auto;  
    margin-right:auto;
  }

.description-text {
  justify-content: center;
}
.dont-have-acct {
  font-size: 20pt;
  text-align: center;
}
.signinpic {
  clip-path: ellipse(900px 900px at -5% 10%);
  flex-direction: column;
  padding-bottom: 8px;

}